output_name=tmp.root
#input_folder=root://xrootd.grid.hep.ph.ic.ac.uk//store/user/pdunne/lighttree
#input_folder=root://xrootd.grid.hep.ph.ic.ac.uk//store/user/pdunne/lighttree_qcdnomupreselskimmed
#input_folder=/vols/ssd00/cms/pdunne/nopresellighttree/output_lighttree_nopresel/
#input_folder=../output_lighttree_mtvars/
#input_folder=../output_lighttree_alljetsmetdphi/
#input_folder=../output_lighttree_nojetmetdphicut/
#input_folder=../output_lighttree_2dbinnedtrigweights/
#input_folder=../output_lighttree_metormetnomu/
#input_folder=root://xrootd.grid.hep.ph.ic.ac.uk//store/user/pdunne/lighttree_150914
#input_folder=../output_lighttree_systs
#input_folder=../output_lighttree_promptsel
#input_folder=../output_lighttree_topreweighted
#input_folder=../output_lighttree_lumifix
#input_folder=../output_lighttree_promptsel
#input_folder=../output_lighttree_njets

#parked light trees
#input_folder=../output_lighttree_htfix
#input_folder=../output_lighttree_postARCcomments2
#input_folder=../output_lighttree_postARCcommentsfixedpu
#input_folder=../output_lighttree_postARCmeeting170215

input_folder=../output_lighttree_postARCmeeting230215
input_params=../filelists/Dec18/ParamsDec18.dat

#prompt light trees
#input_folder=../output_lighttree_prompt
#input_params=../filelists/Apr04/ParamsApr04.dat
#dataset=PROMPT

#singlemu light trees
#input_folder=../output_lighttree_singlemunotrgweights
#input_params=../filelists/Dec18/ParamsDec18.dat
#dataset=SINGLEMU
#do_singlemu=true

#nometnomusigcut
#dataset=PARKEDPLUSA
#input_folder=../output_lighttree_loosepresel

#dataonly=true
#datalist=true
#do_list=true
do_datatop=false
#do_singletop=true
do_separatez=true
run2=false
do_run1=true
do_mcbkg=true

filelist=filelists/filelist.dat
#MINIMUM POSSIBLE BASESEL JUST WITH TRIGGER THRESHOLDS AND PRESEL CUTS
#BASESEL APPLIED
#signal region
jetmetdphicut=alljetsmetnomu_mindphi>2.3
basesel=jet1_eta*jet2_eta<0 && jet1_eta<4.7 && jet2_eta<4.7 && dijet_M>=1200&&jet1_pt>50&&dijet_deta>3.6&& jet2_pt>45&&metnomuons>90&&metnomu_significance>4.0
do_plotqcd=true


#ATLAS test region
#jetmetdphicut=alljetsmetnomu_mindphi>1.0&&dijet_dphi<2.5&&ntaus==0
#basesel=jet1_eta<4.7 && jet2_eta<4.7 && dijet_M>=1000&&jet1_pt>75&&dijet_deta>4.8&& jet2_pt>50&&metnomuons>150&&jet3_pt<30&&jet_csv1<0.244

#trial region
#jetmetdphicut=alljetsmetnomu_mindphi>2.0
#basesel=jet1_eta*jet2_eta<0 && jet1_eta<4.7 && jet2_eta<4.7 && dijet_M>=1000&&jet1_pt>50&&dijet_deta>3.6&& jet2_pt>40&&metnomuons>90&&metnomu_significance>4.5

#optimisereg
#jetmetdphicut=alljetsmetnomu_mindphi>2.0
#basesel=jet1_eta*jet2_eta<0 && jet1_eta<4.7 && jet2_eta<4.7 && dijet_M>=1000&&jet1_pt>50&&dijet_deta>3.6&& jet2_pt>40&&metnomuons>90&&metnomu_significance>4.0

#Adrian plot
#jetmetdphicut=alljetsmetnomu_mindphi>1.0
#basesel=jet1_eta*jet2_eta<0 && jet1_eta<4.7 && jet2_eta<4.7 && dijet_M>=1200&&jet1_pt>50&&dijet_deta>3.6&& jet2_pt>45&&metnomuons>90&&metnomu_significance>4.0
#contonlycontplotjetmetdphi=&&alljetsmetnomu_mindphi>2.3

#lep outside acc loose dphi
#jetmetdphicut=alljetsmetnomu_mindphi>0.
#basesel=jet1_eta*jet2_eta<0 && jet1_eta<4.7 && jet2_eta<4.7 && dijet_M>=1200&&jet1_pt>50&&dijet_deta>3.6&& jet2_pt>45&&metnomuons>90&&metnomu_significance>4.0&&(genlep1_eta>2.4||genlep1_eta<-2.4)
#contonlycontplotjetmetdphi=&&alljetsmetnomu_mindphi>2.3

#lep outside acc tight dphi
#jetmetdphicut=alljetsmetnomu_mindphi>2.3
#basesel=jet1_eta*jet2_eta<0 && jet1_eta<4.7 && jet2_eta<4.7 && dijet_M>=1200&&jet1_pt>50&&dijet_deta>3.6&& jet2_pt>45&&metnomuons>90&&metnomu_significance>4.0&&(genlep1_eta>2.4||genlep1_eta<-2.4)

#lep inside acc loose dphi
#jetmetdphicut=alljetsmetnomu_mindphi>1.0
#basesel=jet1_eta*jet2_eta<0 && jet1_eta<4.7 && jet2_eta<4.7 && dijet_M>=1200&&jet1_pt>50&&dijet_deta>3.6&& jet2_pt>45&&metnomuons>90&&metnomu_significance>4.0&&(genlep1_eta<2.1&&genlep1_eta>-2.1)
#contonlycontplotjetmetdphi=&&alljetsmetnomu_mindphi>2.3

#lep inside acc tight dphi
#jetmetdphicut=alljetsmetnomu_mindphi>2.3
#basesel=jet1_eta*jet2_eta<0 && jet1_eta<4.7 && jet2_eta<4.7 && dijet_M>=1200&&jet1_pt>50&&dijet_deta>3.6&& jet2_pt>45&&metnomuons>90&&metnomu_significance>4.0&&(genlep1_eta<2.1&&genlep1_eta>-2.1)

#sasha set
#jetmetdphicut=jetmetnomu_mindphi>2.3
#basesel=jet1_eta*jet2_eta<0 && jet1_eta<4.7 && jet2_eta<4.7 && dijet_M>=1200&&jet1_pt>50&&dijet_deta>3.6&& jet2_pt>45&&metnomuons>90&&metnomu_significance>4.0&&n_jets_30>=5

#promptsel
#jetmetdphicut=dijet_dphi<1.0
#basesel=jet1_eta*jet2_eta<0 && jet1_eta<4.7 && jet2_eta<4.7 && dijet_M>=1100&&jet1_pt>50&&dijet_deta>4.2&& jet2_pt>50&&metnomuons>130
#do_promptsel=true

#prepresel
#jetmetdphicut=jetmetnomu_mindphi>0.0
#basesel=jet1_eta*jet2_eta<0 && jet1_eta<4.7 && jet2_eta<4.7 && dijet_M>=800&&jet1_pt>50&&dijet_deta>3.6&& jet2_pt>40&&metnomuons>90&&metnomu_significance>1.0

#nomjjnojetmetdphipresel
#jetmetdphicut=jetmetnomu_mindphi>0.0
#basesel=jet1_eta*jet2_eta<0 && jet1_eta<4.7 && jet2_eta<4.7 && dijet_M>=800&&jet1_pt>50&&dijet_deta>3.6&& jet2_pt>40&&metnomuons>90&&metnomu_significance>3.0

#nomjjpresel
#jetmetdphicut=alljetsmetnomu_mindphi>1.0
#basesel=jet1_eta*jet2_eta<0 && jet1_eta<4.7 && jet2_eta<4.7 && dijet_M>=800&&jet1_pt>50&&dijet_deta>3.6&& jet2_pt>40&&metnomuons>90&&metnomu_significance>3.0

#presel
#jetmetdphicut=alljetsmetnomu_mindphi>1.0
#basesel=jet1_eta*jet2_eta<0 && jet1_eta<4.7 && jet2_eta<4.7 && dijet_M>=1000&&jet1_pt>50&&dijet_deta>3.6&& jet2_pt>40&&metnomuons>90&&metnomu_significance>3.0

#joao crosscheck
#jetmetdphicut=alljetsmetnomu_mindphi>-9.0
#basesel=jet1_eta*jet2_eta<0 && jet1_eta<4.7 && jet2_eta<4.7 && dijet_M>=1000&&jet1_pt>50&&dijet_deta>3.6&& jet2_pt>40&&metnomuons>90&&metnomu_significance>3.0
#jetmetdphicut=alljetsmetnomu_mindphi>-9.0
#basesel=jet1_eta<4.7 && jet2_eta<4.7 &&jet1_pt>30&&dijet_deta>3.6&& jet2_pt>30&&metnomu_significance>3.0&&metnomuons>90


#old pre run c bug signal region
#jetmetdphicut=alljetsmetnomu_mindphi>2.5
#basesel=jet1_eta*jet2_eta<0 && jet1_eta<4.7 && jet2_eta<4.7 && dijet_M>=1000&&jet1_pt>50&&dijet_deta>3.6&& jet2_pt>40&&metnomuons>90&&metnomu_significance>4.0

#amqcd
#jetmetdphicut=jetmetnomu_mindphi>1.0
#basesel=jet1_eta*jet2_eta<0 && jet1_eta<4.7 && jet2_eta<4.7 && dijet_M>=800&&jet1_pt>50&&dijet_deta>3.6&& jet2_pt>40&&metnomuons>90&&metnomu_significance>3.0
#do_plotmcqcd=true

#trigger driven presel (light trees have metsig 3 cut built in
#jetmetdphicut=alljetsmetnomu_mindphi>0.
#basesel=jet1_eta*jet2_eta<0 && jet1_eta<4.7 && jet2_eta<4.7 && dijet_M>=800&&jet1_pt>50&&dijet_deta>3.6&& jet2_pt>40&&metnomuons>90
#promptana
#basesel=jet1_eta*jet2_eta<0 && jet1_eta<4.7 && jet2_eta<4.7 && dijet_M>=1100&&jet1_pt>50&&dijet_deta>4.2&& jet2_pt>50&&metnomuons>130&&n_jets_cjv_30<1

#PAS qcd fig left
#jetmetdphicut=alljetsmetnomu_mindphi<1.0&&jetmetnomu_mindphi>2.3
#basesel=jet1_eta*jet2_eta<0 && jet1_eta<4.7 && jet2_eta<4.7 && dijet_M>=1200&&jet1_pt>50&&dijet_deta>3.6&& jet2_pt>45&&metnomuons>90&&metnomu_significance>4.0
#do_plotmcqcd=true
#do_pasqcdfigleft=true

#PAS qcd fig right
#jetmetdphicut=alljetsmetnomu_mindphi>1.0
#basesel=jet1_eta*jet2_eta<0 && jet1_eta<4.7 && jet2_eta<4.7 && dijet_M>=1200&&jet1_pt>50&&dijet_deta>3.6&& jet2_pt>45&&metnomuons>90&&metnomu_significance>3.0&&jet3_pt>30
#do_pasfig=true
#do_relaxedqcdranges=true
#do_plotqcd=true


#presel options
#runblind=false
#runblindreg=false
#do_preselranges=true

#prepresel options
#runblind=false
#runblindreg=false
#do_prepreselranges=true
#do_plotmcqcd=true
#do_logy=true

#sigreg options
runblind=false
runblindreg=false
do_preselranges=false
do_latex=true

#do_closure=true
#closurebase=munu

#do_bdt=true
#bdtcut=BDT>-0.31

