# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
bin/
output/
svfit/
sync*/

# Python
__init__.py
*.pyc

# filelist folders
#filelists/
jobs/
*.root
*.png
*.pdf
